1) Write a program to merge two dictionaries into one. If there are overlapping keys, sum their values.

2) Write a Python program to create an empty dictionary.

3) Write a Python script to iterate over a dictionary and print all key-value pairs.

4) Write a Python program to remove the key-value pair with key 'age' from  dictionary

5) Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.

6) Given a dictionary students_scores = {'Alice': 85, 'Bob': 90}, update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary, add 'Charlie' with a default score of 60.

7) Write a Python program to print all the values in  dictionary:

8) Given a dictionary item_prices = {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

In [3]:
#TASK1
personal1 = {
    'name' : 'Kanan' ,
    'surname' : 'Qasimzada' ,
    'salary' : 4500
}
personal2 = {
    'position' : 'AI developer' ,
    'experinece_year' : 2
}

merged = {}

for key in personal1:
  if key in personal2:
    merged[key] = personal1[key] + personal2[key]
  else:
    merged[key] = personal1[key]

for key in personal2:
  if key not in merged:
    merged[key] = personal2[key]

print(merged)

{'name': 'Kanan', 'surname': 'Qasimzada', 'salary': 4500, 'position': 'AI developer', 'experinece_year': 2}

In [5]:
#TASK2
#Method1

a = {}
print(a)

#Method2
b = dict()
print(b)

{}
{}

In [44]:
#Task3  Write a Python script to iterate over a dictionary and print all key-value pairs.

personal = {
    'name' : 'Kanan' ,
    'surname' : 'Qasimzada' ,
    'salary' : 4500 ,
    'position' : 'AI developer' ,
    'experinece_year' : 2,
    'age' : 19
}

for key , value in personal.items():
  print(f"Key:{key} Value:{value}")
print('\n')
#2th method
for key , value in personal.items():
  print(f"({key}:{value})",end = ' ')

Key:name Value:Kanan
Key:surname Value:Qasimzada
Key:salary Value:4500
Key:position Value:AI developer
Key:experinece_year Value:2
Key:age Value:19


(name:Kanan) (surname:Qasimzada) (salary:4500) (position:AI developer) (experinece_year:2) (age:19)

In [9]:
#TASK4 Write a Python program to remove the key-value pair with key 'age' from dictionary


personal = {
    'name' : 'Kanan' ,
    'surname' : 'Qasimzada' ,
    'salary' : 4500 ,
    'position' : 'AI developer' ,
    'experinece_year' : 2,
    'age1' : 19 ,
    'age2' : 20
}

#method1
del personal['age1']
print(personal)

#method2
personal.pop('age2')
print(personal)

{'name': 'Kanan', 'surname': 'Qasimzada', 'salary': 4500, 'position': 'AI developer', 'experinece_year': 2, 'age2': 20}
{'name': 'Kanan', 'surname': 'Qasimzada', 'salary': 4500, 'position': 'AI developer', 'experinece_year': 2}

In [40]:
#TASK5  Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.
personal = {
    'name' : 'Kanan' ,
    'surname' : 'Qasimzada' ,
    'salary' : 4500 ,
    'position' : 'AI developer' ,
    'experinece_year' : 2,
    'age' : 19
}
a = dict(sorted(personal.items()))
print(a)

{'age': 19, 'experinece_year': 2, 'name': 'Kanan', 'position': 'AI developer', 'salary': 4500, 'surname': 'Qasimzada'}

In [20]:
#TASK6
"""Given a dictionary students_scores = {'Alice': 85, 'Bob': 90},
update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary,
add 'Charlie' with a default score of 60."""

students_scores = {
    'Alice': 85,
    'Bob': 90
    }
#method1
students_scores['Alice'] = 95

#method2 with update method
students_scores.update({'Alice': 95})
print(students_scores)

#method1
if 'Charlie' not in students_scores:
  students_scores['Charlie'] = 60

#method2
if 'Charlie' not in students_scores:
  students_scores.update({'Charlie' : 60})

print(students_scores)

{'Alice': 95, 'Bob': 90}
{'Alice': 95, 'Bob': 90, 'Charlie': 60}

In [39]:
#TASK7
#Write a Python program to print all the values in dictionary:

personal = {
    'name' : 'Kanan' ,
    'surname' : 'Qasimzada' ,
    'salary' : 4500 ,
    'position' : 'AI developer' ,
    'experinece_year' : 2,
    'age' : 19
}
k  = 0
for i in personal.values():
  k += 1
  print(f"Value{k}:{i}")

Value1:Kanan
Value2:Qasimzada
Value3:4500
Value4:AI developer
Value5:2
Value6:19

In [36]:
#TASK8
#Given a dictionary item_prices =
# {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

item_prices = {
    'apple': 1.00,
    'banana': 0.50
}

total_prize = 0.0
discount = 0.10

for i , j in item_prices.items():
  total_prize += j
  item_prices[i] = j * (1 - discount)

print(item_prices)
print(total_prize)

{'apple': 0.9, 'banana': 0.45}
1.5