In [7]:
person = dict(name = 'Kanan' , surname = 'Qasimzada' , age = 19)
print(person)
person.get('Kanan',4)
person.update({'name' : 'Sanan'})
print(person)
person.update({'salary' : 4500})
print(person)
print(person.popitem())

{'name': 'Kanan', 'surname': 'Qasimzada', 'age': 19}
{'name': 'Sanan', 'surname': 'Qasimzada', 'age': 19}
{'name': 'Sanan', 'surname': 'Qasimzada', 'age': 19, 'salary': 4500}
('salary', 4500)

In [10]:
#Loop

for i , j in person.items():
  print(i)
  print(j)

name
Sanan
surname
Qasimzada
age
19

In [14]:
#copy model
person1 = person
print(person1)
person.update({'car' : True})
print(person1)

person2 = person1.copy()

print(id(person1))
print(id(person))
print(id(person2))

{'name': 'Sanan', 'surname': 'Qasimzada', 'age': 19, 'car': True}
{'name': 'Sanan', 'surname': 'Qasimzada', 'age': 19, 'car': True}
137704532355840
137704532355840
137704155953536

In [15]:
#nested dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [18]:
#Loop Through Nested Dictionaries

for i , j in myfamily.items():
  print(i)

child1
child2
child3

In [25]:
for i , obj in myfamily.items():
  for k,l in obj.items():
    print(k)
    print(l)

name
Emil
year
2004
name
Tobias
year
2007
name
Linus
year
2011

In [27]:
users = {
  'aeinstein': {
      'first': 'albert',
      'last': 'einstein',
      'location': 'princeton',
      },

  'mcurie': {
      'first': 'marie',
      'last': 'curie',
      'location': 'paris',
      },

  }

for username , userinfo in users.items():
  print(f"Username:{username}")
  print(f"Fullname:{userinfo['first']} {userinfo['last']}")

Username:aeinstein
Fullname:albert einstein

NameError: name 'user_info' is not defined