In [2]:
personal = {
    'Name' : 'Kanan' ,
    'Surname' : 'Qasimzada' ,
    'Age' : 19 ,
    'School' : 'ASOIU'
}

In [3]:
#for print values
print(personal['Name'])

Kanan

In [7]:
a = personal['School']
print(f'Universty:{a}')

Universty:ASIOU

In [10]:
#ADD element to dictionaries
personal['car']  = False
personal['salary'] = 4500
print(personal)
print(f"Hello dear {personal['Name']}")

{'Name': 'Kanan', 'Surname': 'Qasimzada', 'Age': 19, 'School': 'ASIOU', 'car': False, 'salary': 4500}
Hello dear Kanan

In [11]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(f"Original position: {alien_0['x_position']}")

if alien_0['speed'] == 'low':
  x = 1
elif alien_0['speed'] == 'medium':
  x = 2
else:
  x = 3

alien_0['x_position'] += x
print(f"New position {alien_0['x_position']}")

Original position: 0
New position 2

In [13]:
#Removeing method in dictionaries

alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

#del method
del alien_0['color']
print(alien_0)

#pop method
alien_0.pop('points')
print(alien_0)

{'color': 'green', 'points': 5}
{'points': 5}
{}

In [16]:
#get method

personal = {
    'Name' : 'Kanan' ,
    'Surname' : 'Qasimzada' ,
    'Age' : 19 ,
    'School' : 'ASOIU'
}

#print(personal['a'])
print(personal.get('a',4))

4

In [22]:
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
    }

for i,j in user_0.items():
  print(f'\nKey: {i}')
  print(f'Values: {j}')

Key: username
Values: efermi

Key: first
Values: enrico

Key: last
Values: fermi

In [29]:
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
  }

for key in favorite_languages.keys():
  print(f'Key:{key.title()}')

print('\n')

for value in favorite_languages.values():
  print(f'Values:{value.title()}')

Key:Jen
Key:Sarah
Key:Edward
Key:Phil


Values:Python
Values:C
Values:Rust
Values:Python

In [30]:
favorite_languages = {
  'jen': 'python',
  'sarah': 'c',
  'edward': 'rust',
  'phil': 'python',
  }

print(favorite_languages.items())

dict_items([('jen', 'python'), ('sarah', 'c'), ('edward', 'rust'), ('phil', 'python')])

In [ ]:
#nested dictonaries

family = {

    "child1" : {
        'name' : 'Alice',
        'age' : 12
    } ,

    "child2" : {
        'name' : 'Ali' ,
        'age' : 10
    } ,

    "child3" : {
        'name' : 'Jasmin' ,
        'age' : 15
    }

}

In [31]:
#nested dictionaries
child10 = {
    'name' : 'A' ,
    'age' : 22
}

child20 = {
    'name' : 'S' ,
    'age' : 18
}

child30 = {
    'name' : 'D' ,
    'age' : 34
}


family_table = {
    'child10' : child10 ,
    'child20' : child20 ,
    'child30' : child30
}


#acces element
print(family_table['child10']['name'])

A