In [1]:
def greet_user():
  """Display a simple greeting."""
  print("Hello")

greet_user()

Hello

In [6]:
def greet_user1(username):
  """Display a simple greeting"""
  print(f"Hello, {username.title()}")
  print(f"Hello,again {username.title()}")

greet_user1("Kanan")

Hello, Kanan
Hello,again Kanan

In [9]:
def describe_pet(a_t,p_name):
  """Display a simple greeting"""
  print(f"\nI have a {a_t}")
  print(f"My {a_t} name is {p_name.title()}")

describe_pet('a','b')
describe_pet(a_t = "Dog" , p_name = "Toplan")

I have a a
My a name is B

I have a Dog
My Dog name is Toplan

In [10]:
def describe_pet(pet_name, animal_type = 'dog'):
  """Display information about a pet"""
  print(f"\nI have a {pet_name}")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

animal_type = input("Pet name: ")
animal_name = input("Pet type: ")

describe_pet(animal_name, animal_type)

Pet name: Cesi
Pet type: Cat

I have a Cat
My Cesi's name is Cat.

In [11]:
def formatted_name(first_name, last_name):
  """Return a full name, neatly formatted."""

  full_name = f"{first_name} {last_name}"
  return full_name.title()

m = formatted_name('Kanan', 'Qasimzada')
print(m)

Kanan Qasimzada

In [12]:
#How will i find answer without if and else
def cal(a,b,o):
  answer = f"{int(a)} {o} {int(b)}"
  return answer
cal(1, 2, '+')

'1 + 2'

In [15]:
def append_function(k):
  new_list = []
  while k:
    k1 = k.pop()
    new_list.append(k1)

  return new_list


list1 = [1,2,3,4,5,6]
append_function(list1)

[6, 5, 4, 3, 2, 1]

In [18]:
my_list = [1,2,3,4,5]
my_list[-4:1]
print(my_list)

[1, 2, 3, 4, 5]

In [17]:
x= 10
print("Even" if x%2==0 else "odd")

Even

In [24]:
a = int()
def sq(a):
  return a ** 2

b = int(input())
print(sq(b))

4
16

In [27]:
def e_o(c):
  if c % 2 == 0:
    print("Even")
  else:
    print("Odd")

d = int(input())
print(e_o(d))

4
Even
None