Python mix

In [ ]:
#Output print() function
#*******************
#Using String Modulo Operator(%)
#Using Format Method
#Using The String Method
#Pythonâ€™s Format Conversion Rule##

In [ ]:
print('Hello {1} and hello {0}'.format('Python','C++'))

Hello C++ and hello Python

In [ ]:
print('Hello {other} and hello {1} also hello {0}'.format('Python', 'C++', other = 'Java'))

Hello Java and hello C++ also hello Python

In [ ]:
#f-string method

name = 'Kanan'
age = '19'

print(f'My name is {name} and my age is {age}')

My name is Kanan and my age is 19

In [ ]:
#Print wihout new line
print('Kanan',end = " ")
print('Qasimzada')


for i in range(0,4):
  print(i, end = ' ')

Kanan Qasimzada
0 1 2 3

In [ ]:
name1 = 'Kanan'
gmail = 'gmail.com'

print(name1, end = '@')
print(gmail)

Kanan@gmail.com

In [ ]:
#Using "*"
l = [1,2,3,4,5,6,7,8,9]

print(*l)

1 2 3 4 5 6 7 8 9

In [ ]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')

print('Red','Green','Blue', sep=',', end='@')
print('geeksforgeeks')

GFG
09-12-2016
Red,Green,Blue@geeksforgeeks

In [ ]:
print('99', 'QK', '100',  sep = '-')

99-QK-100

Python data types

In [ ]:
a = 5
#Getting data types
print(type(a))

<class 'int'>

In [ ]:
#Random number
import random

print(random.randrange(1, 5))

3

In [ ]:
list1 = [1,2,3,4,5]
print(id(list1))

list1.append(6)
print(list1)
print(id(list1))

140478871135360
[1, 2, 3, 4, 5, 6]
140478871135360

In [ ]:
#Add element to list

#1.Append function

list1 = [1,2,3,4,5,6,7,8,9,0]
list1.append(10)
list1.append(11)
list1.append(12)
print(list1)


#2.Insert function
list1.insert(2,11)
list1.insert(4,33)
list1.insert(1,22)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12]
[1, 22, 2, 11, 3, 33, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12]

In [ ]:
#Remove element from list
#1.Delete

print(list1)

del list1[0]
del list1[3]
del list1[9]
print(list1)

#2.pop() method

x = list1.pop()
print(x)

list1.pop(2)
list1.pop(8)

print(list1)

[8, 10]
[10]
10

IndexError: pop from empty list

In [ ]:
#Remove method
list2 = ['a', 'b', 'c', 'd', 's', 'q']
print(list2)

list2.remove('a')
list2.remove('c')
list2.remove('q')
print(list2)

['a', 'b', 'c', 'd', 's', 'q']
['b', 'd', 's']

In [ ]:
#Organizing a List

list3 = [2,3,4,1,3,99,100,2,3,5,6]
list3.sort()
print(list3)

[1, 2, 2, 3, 3, 3, 4, 5, 6, 99, 100]

In [ ]:
a = ['g','h','l','a','s','r','t','f','g']
print(a)
a.sort(reverse = True)
print(a)

['g', 'h', 'l', 'a', 's', 'r', 't', 'f', 'g']
['t', 's', 'r', 'l', 'h', 'g', 'g', 'f', 'a']

In [ ]:
#Extend method for add multiple elements
list11 = [1,2,3,4,56,6,7,]
list11.extend([8,'AI','salam'])
print(list11)

[1, 2, 3, 4, 56, 6, 7, 8, 'AI', 'salam']

In [ ]:
#Sliceing process

list1 = ['A', 'R', 'T', 'I', 'F', 'I',
        'C', 'I', 'A', 'L', 'I', 'N', 'T',
        'E', 'L', 'L', 'I', 'G', 'E', 'N', 'C', 'E']

s_list = list1[0:5]
print(s_list)

s_list = list1[1:5]
print(s_list)

s_list = list1[::-1]
print(s_list)

['A', 'R', 'T', 'I', 'F']
['R', 'T', 'I', 'F']
['E', 'C', 'N', 'E', 'G', 'I', 'L', 'L', 'E', 'T', 'N', 'I', 'L', 'A', 'I', 'C', 'I', 'F', 'I', 'T', 'R', 'A']

In [ ]:
#List Comprehensions


cubes = [i ** 3 for i in range(1,9)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512]

In [ ]:
two = [i ** 2 for i in range(2,5)]
print(two)

[4, 9, 16]

In [ ]:
#For and slice combination

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in a[0:4]:
  print(i, end = " ")

1 2 3 4

In [ ]:
#Tuple

a = (1,2,3,4,5)
print(a)

b = (4)
print(b,)

(1, 2, 3, 4, 5)
4

In [ ]:
#Looping Through All Values in a Tuple

a = (1,2,3,4,5,6,7,8,9)
print(a)
print()

for i in a:
  print(i, end = " ")

(1, 2, 3, 4, 5, 6, 7, 8, 9)
1 2 3 4 5 6 7 8 9

In [ ]:
dimensions = (200, 50)

print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

In [ ]:
#Dictionaries

a = {
    'color' : 'green' ,
    'age' : 17 ,
    'new' : False
}

alien_0 = {
    'color': 'green',
    'points': 5
    }
print(alien_0)

alien_0['x_position'] = 0
alien_0['y_position'] = 25

print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [ ]:
#get() function

alien_0 = {'color': 'green', 'speed': 'slow'}
point_value = alien_0.get('points', 'No point value assigned.')
print(point_value)

No point value assigned.

In [ ]:
kanan = {
    'name' : 'Kanan' ,
    'last_name' : 'Qasimzada' ,
    'age' : 19
}

print(id(kanan))
print(type(kanan))

kanan['car'] = False
kanan['Job'] = 'AI Developer'
print(id(kanan))
print(type(kanan))
del kanan['car']
print(kanan)

139063348317056
<class 'dict'>
139063348317056
<class 'dict'>
{'name': 'Kanan', 'last_name': 'Qasimzada', 'age': 19, 'Job': 'AI Developer'}

In [ ]:
#Looping kry-value
kanan = {
    'name' : 'Kanan' ,
    'last_name' : 'Qasimzada' ,
    'age' : 19 ,
    'job' : 'AI developer' ,
    'salary' : '4000'
}

for key, value in kanan.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

Key: name
Value: Kanan

Key: last_name
Value: Qasimzada

Key: age
Value: 19

Key: job
Value: AI developer

Key: salary
Value: 4000

In [ ]:
#Only looping through all the keys and value in a dictionary
kanan = {
    'name' : 'Kanan' ,
    'last_name' : 'Qasimzada' ,
    'age' : 19 ,
    'job' : 'AI developer' ,
    'salary' : '4000'
}

for key in kanan.keys():
  print(f"Key:{key}")

print('\n')

for value in kanan.values():
  print(f"Value:{value}")

Key:name
Key:last_name
Key:age
Key:job
Key:salary


Value:Kanan
Value:Qasimzada
Value:19
Value:AI developer
Value:4000

In [ ]:
#A list of dictionaries

k1 = {
    'name' : 'Kanan' ,
    'age' : 19
}

k2 = {
    'name' : 'Sanan' ,
    'age' : 19
}

k3 = {
    'name' : 'Qasim' ,
    'age' : 12
}

k = [k1, k2, k3]
for i in k:
  print(i)

{'name': 'Kanan', 'age': 19}
{'name': 'Sanan', 'age': 19}
{'name': 'Qasim', 'age': 12}

In [ ]:
car = {
    'model' : 'Tesla' ,
    'year' : 2024 ,
    'sub_models': ['S', 'Y', '3', 'X']
}

for i in car['sub_models']:
  print(f"Sub_model of tesla:{i}")

Sub_model of tesla:S
Sub_model of tesla:Y
Sub_model of tesla:3
Sub_model of tesla:X

In [ ]:
#Classes

class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def sit(self):
    print(f"{self.name} is now sitting.")

  def roll_over(self):
    print(f"{self.name} rolled over!")

In [3]:
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.odometr_reading = 0

  def get_descriptive_name(self):
    long_name = f"{self.year} {self.make} {self.model}"
    return long_name.title

  def read_odometer(self):
    print(f"Your odometr km is {self.odometr_reading}")

  def uptade_odometer(self, milage):
    self.odometr_reading += milage

  def uptade_odometer2(self, milage2):
    if self.odometr_reading <= milage2:
      sefl.odometr_reading += milage2




my_new_car = Car('audi', 'a4', 2024)
print(my_new_car.get_descriptive_name())
my_new_car.read_odometer()

my_new_car.odometr_reading = 55

<built-in method title of str object at 0x7cbf883518f0>
Your odometr km is 0

In [5]:
#Child class

class Electric_car(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)

my_leaf = Electric_car('nissan', 'leaf', 2024)
print(my_leaf.get_descriptive_name())

<built-in method title of str object at 0x7cbf57a803f0>

In [8]:
class Electric_car(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)
    self.battery_size = 50

  def describe_battery(self):
    print(f"This car has a {self.battery_size}-kWh battery.")

my_leaf = Electric_car('nissan', 'leaf', 2024)
print(my_leaf.get_descriptive_name())
my_leaf.describe_battery()

<built-in method title of str object at 0x7cbf57a80d50>
This car has a 50-kWh battery.

In [12]:
#Function

def pet(type, name):
  print(f"type of my animal is {type} and its name is {name}")

my_cat = pet('cat', 'jessi')
print(my_cat)

my_dog = pet(name='London', type='Pitbull')

type of my animal is cat and its name is jessi
None
type of my animal is Pitbull and its name is London

In [15]:
#Ente name and type with input
def pet(type, name):
  print(f"type of my animal is {type} and its name is {name}")

pet_type1 = str(input('Enter type of animal'))
pet_name1 = str(input('Enter name of aniaml'))

my_cat22 = pet(type=pet_type1, name=pet_name1)
print(my_cat22)

Enter type of animala
Enter name of aniamls
type of my animal is a and its name is s
None

In [16]:
#Passing an Arbitrary Number of Arguments

def make_pizza(*elements):
  print(elements)

a = make_pizza('a', 'n', 'b', 't',' h')
print(a)

('a', 'n', 'b', 't', ' h')
None

In [17]:
def make_pizza(*elements):
  for element in elements:
    print(f'Element of pizza - {element}')

a = make_pizza('a', 'n', 'b', 't',' h')
print(a)

Element of pizza - a
Element of pizza - n
Element of pizza - b
Element of pizza - t
Element of pizza -  h
None

In [19]:
def make_pizza(size, *elements):
  print(f'size of pizza {size}')
  for element in elements:
    print(f'Element of pizza - {element}')

a = make_pizza(12, 'a', 'n', 'b', 't',' h')
print(a)

size of pizza 12
Element of pizza - a
Element of pizza - n
Element of pizza - b
Element of pizza - t
Element of pizza -  h
None

In [23]:
def build_profile(first, last, **user_info):
    """Build a dictionary containing everything we know about a user."""
    user_info['first_name'] = first
    user_info['last_name'] = last
    return user_info

user_profile = build_profile('albert', 'einstein',
                             location='princeton',
                             field='physics')
print(user_profile)

('albert', 'einstein', {'location': 'princeton', 'field': 'physics'})