In [2]:
letters = ['a','b','c','d','e','r','t','y','u']

for i in letters:
  print(i,end = ' ')

a b c d e r t y u

In [3]:
#title function
print(letters[0].title())

A

In [5]:
#f string method in python

letters = ['a','b','c','d','e','r','t','y','u']
for i in letters:
  print(f'{i} is letter')

a is letter
b is letter
c is letter
d is letter
e is letter
r is letter
t is letter
y is letter
u is letter

In [6]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [11]:
#Using range() to Make a List of Numbers

list1 = list(range(1,100,4))
print(list1)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

In [17]:
#squares of list with range() method

list1 = []

for i in range(1,5):
  sq = i ** 2
  list1.append(sq)

print(list1)

[1, 4, 9, 16]

In [18]:
#List Comprehensions
list1 = []
n = int(input())

for i in range(0,n):
  x = int(input())
  list1.append(x)
list1 = [i ** 2 for i in list1]
print(list1)

3
1
2
3
[1, 4, 9]

In [22]:
#Looping Through a Slice
letter = ['a','c','f','g','r']

for i in letters[0:3]:
  print(i.title(),end = ' ')

A B C

In [31]:
#Copying list elements
letter1 = ['a','c','f','g','r']

#copy letter1 to letter2
letter2 = letter1[:]

print(letter1)
print(letter2)

#print with id
print(id(letter1))
print(id(letter2))

#check lists are same or not
letter1 is letter2

['a', 'c', 'f', 'g', 'r']
['a', 'c', 'f', 'g', 'r']
134491327425728
134491326823936

False

In [26]:
#Copying list
letter1 = ['a','c','f','g','r']

#copy list
letter2 = letter2

#print all lists
print(letter1)
print(letter2)

#print lists with id
print(id(letter1))
print(id(letter2))

#check lists are same or not
if letter1 == letter2:
  print(1)
else :
  print(0)

['a', 'c', 'f', 'g', 'r']
['a', 'c', 'f', 'g', 'r']
134491327215552
134491692985216
1

In [32]:
#Tuple
tuple1 = [1,2,3,4,5,6]
print(tuple1[1])

2

In [33]:
#Loop in Tuple
tuple1 = [1,2,3,4,5,6]

for i in tuple1:
  print(i)

1
2
3
4
5
6