1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

In [1]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

for i in sample_dict:
  print(i)

Physics
Math
history

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

In [3]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}
sum = 0
for i , j in sample_dict.items():
  sum += j

print(sum)

361

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

In [5]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

min = 10000000000
for i in sample_dict.values():
  if i < min:
    min = i

print(min)

65

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

In [6]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

del sample_dict['name']
del sample_dict['salary']

print(sample_dict)

{'age': 23, 'city': 'Baku'}

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

In [12]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}


del sample_dict['age']
del sample_dict['city']

print(sample_dict)

{'name': 'Khalid', 'salary': 1000}

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

7) Print multiplication table of 24 using loop.

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [22]:
i = 0
dic_m = {}
while True:
  if i == 10:
    break
  print(f'{i} * 24 = {i * 24}')
  i += 1
  dic_m[f'{i} * 24'] = i * 24

print(dic_m)
for k, l in dic_m.items():
  print( k,  l)

str1 = " "

for k , l in dic_m.items():
  str1 += dic_m[i]

0 * 24 = 0
1 * 24 = 24
2 * 24 = 48
3 * 24 = 72
4 * 24 = 96
5 * 24 = 120
6 * 24 = 144
7 * 24 = 168
8 * 24 = 192
9 * 24 = 216
{'1 * 24': 24, '2 * 24': 48, '3 * 24': 72, '4 * 24': 96, '5 * 24': 120, '6 * 24': 144, '7 * 24': 168, '8 * 24': 192, '9 * 24': 216, '10 * 24': 240}
1 * 24 24
2 * 24 48
3 * 24 72
4 * 24 96
5 * 24 120
6 * 24 144
7 * 24 168
8 * 24 192
9 * 24 216
10 * 24 240

In [29]:
m = int(input())
sum = 0
while m != 0:
  r = m % 10
  sum += r
  m /= 10

print(int(sum))

123
6